{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-outline-primary" href="{% url 'todo:add' %}">Add task</a>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Task</th>
                <th>Responsible</th>
                <th>Description</th>
                <th>Task creation date</th>
                <th>Wished due date</th>
                <th>Estimated duration</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todo %}
                <tr>
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>{{ item.task }}</td>
                    <td>{{ item.responsible }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.task_creation_date }}</td>
                    <td>{{ item.wished_due_date }}</td>
                    <td>{{ item.estimated_duration }}</td>
                    <td>{% if item.status == "Pending"%}
                        <span>Pending</span>
                        {% elif item.status == "Done"%}
                        <span>Done</span>
                        {% else %}
                        <span>Deleted</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'todo:modifica' item.id %}" class="btn btn-outline-info">Modify</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
        {% else %}
            <li class="disabled btn"><span><<</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of
            {{ page_obj.paginator.count }}</span>
    </ul>
{% endif %}

{% endblock %}
